@CHARSET "UTF-8";

#road 
{ position: relative;
height:180px; 
background: url(images/road.jpg);
width:600px; 
}

#car {
position: absolute;
bottom:30px;
left: 20px;
}

.car_img
{ 
-webkit-transition: 2s ease-in-out;
}

.car_img:hover
{ 
-webkit-transform: translate(400px,0px);
}